#selfie{
    border: 15px ridge rgb(95, 95, 95);
    border-radius: 10%;
    width: 250px;
    height: 250px;
}


.aboutinfo{
    margin: auto;
    width: 50vw;
    padding-left: 20px;
}

