.contact{
    margin-left: 5%;
    
}
form{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 20px;
    padding-top:5px;
    background-color: #f89654;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 80%;
    box-sizing: border-box;
    border: black solid;
}
#mainStuff{
    flex-wrap: wrap;
}
#comment{
    width: 90%;
}
#pic{
    margin-top: 10px;
    max-width: 45vw;
    height: auto;
    border: 15px ridge gray;
}
