body{
    box-sizing: content-box;
    overflow-x: auto;
}
figcaption{
    font-size: 3em;
}
.gallery{
    border: 15px ridge gray;
    max-width: 90%;
}
#main{
    display: flex;
    flex-wrap: wrap;
}

.gal{
    margin: auto;
}

