body{
    box-sizing: content-box;
    overflow-x: auto;
}
figcaption{
    font-size: 3em;
    color: #342B2B;
}
.gallery{
    border: 15px ridge gray;
    height: 500px;
    width: 500px;
    max-width: 90%;
    object-fit: cover;
}
#main{
    display: flex;
    flex-wrap: wrap;
}

.gal{
    margin: auto;
    margin-top: 10px;
}

