#faq{
    width: 55%;
    margin: 2%;
    margin-left: 5%;
    margin-top: 1%;

}

h2{
    color: #342B2B;
  }
#pic{
    max-width: 15vw;
    height: auto;
    padding: 0;
    margin-top: 5px;
    border: ridge 15px grey;
}

figure{
    margin: 0;
    margin-left: 5%;
}
#tophalf{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#stickyFAQ{
    right: 0;
    top: 25vh;
    position: fixed;
    margin-right: 10px;
    border-style: solid;
    max-width: 30vw;
    max-height: 70vh;
    overflow-y: auto;
    background-color: #f89654;
}
ul{
    padding: 5px;
    list-style: none;
}
li{
    padding-bottom: 5px;
}
