body{
    padding: 0;
    margin: 0;
    /* overflow-x: hidden; */
    box-sizing: content-box;
    min-height: 80vh;
}
#pics{

    object-fit: contain;
    border:15px groove  rgb(206, 199, 199);
    /* overflow-x: hidden; */
    box-sizing: border-box;
    box-shadow: 10px 10px 5px 5px black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;

}
figure{
    margin: 0;
    padding: 2%;
    object-fit: contain;
    /* overflow-x: hidden; */
    box-sizing: content-box;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
    
/* }
#mainPic{
    overflow: auto;
} */

