#faq{
    width: 55%;
    margin: 10px;
    margin-left: 5%;

}
#price{
width: 40%;
margin: 10px;
border: solid;
padding: 10px;
}
#mainStuff{
    display: flex;
    flex-direction: row;
    margin: 10px;
}
